<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Money Tracker</title>
  <nav><a href="/transaction/new">Add New Transaction</a></nav>
  <nav><a href="/transactions">All Transactions</a></nav>
</head>
<body>
  <%= yield%>
</body>
</html>