<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Money Tracker</title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>

  <div class= "sidebar">
    <a href="/transactions">Transactions</a>
    <a href="/transaction/new">Add New </a>
    <a href="/items">Items </a>
    <a href="/merchants">Merchants </a>
  </div>

  <div class= "nav">
  <img src="/images/logo.png" alt="" class="logo">

    <div class= "display--budget">
      <p>Monthly Budget: <span class="budget_total"><%=@user.balance.to_i%></span>  <a href="/user/1/edit">(Update User Name & Monthly Budget)</a></p>
    </div>

  </div>

  <div class="main">
    <%= yield %>
  </div>

  <div class="footer">
    <p>Test</p>
  </div>

</body>
</div>
</html>


