<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Money Tracker</title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
 
    <div class= "nav">
      <a href="/transactions">All Transactions</a>
      <a href="/transaction/new">Add New Transaction</a>
    </div>
  
  <div class="main">
    <%= yield %>
  </div>

</body>
</div>
</html>


