<div class="input-forms">
<form action="/items" method="POST" class="user-form">

<div class="field">
<label for="type">New item Name: </label>
<input type="text" id="type" name="type" autocomplete="off" required>
</div>

<input type="submit" value="Submit New">
<input type="reset">
</form>
</div>