<div class="add_new_class">
  <h1>
    <p>MERCHANTS</p>
  </h1>
  <a href="/merchants/new">Add new Merchant</a>
</div>

<% for merchant in @merchants %>
<div class="i_m_index">
  <div class="items">
    <p>Name: <%= merchant.name %></p>
    <form action="/merchants/<%= merchant.id %>/delete" method="POST">
      <input type="submit" value="Delete Merchant">
    </form>
    <hr />
  </div>
</div>
<% end %>
