<div class="input-forms">
  <form action="/merchants" method="POST" class="user-form">

    <div class="field">
      <label for="name">New Merchant Name: </label>
      <input type="text" id="name" name="name" autocomplete="off" required>
    </div>

    <input type="submit" value="Submit New">
    <input type="reset">
  </form>
</div>

